@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap');

:root {
  /* Global font variables */
  --font-header: 'Poppins', sans-serif;
  --font-body: 'Roboto', sans-serif;
}

/* Reset & Box Model */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  /* Base font size */
}

body {
  font-family: var(--font-body);
  line-height: 1.6;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.75rem;
  font-weight: 600;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

h5 {
  font-size: 1.25rem;
  font-weight: 500;
}

h6 {
  font-size: 1rem;
  font-weight: 500;
}

/* Paragraphs */
p {
  font-size: 1rem;
  margin-bottom: 1em;
}

/* Links */
a {
  font-size: 1rem;
  text-decoration: none;
}

/* Lists */
ul,
ol {
  margin-left: 1.5em;
  margin-bottom: 1em;
}

li {
  font-size: 1rem;
  line-height: 1.5;
}

/* Buttons */
button {
  font-family: var(--font-header);
  font-size: 1rem;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Inputs */
input,
textarea,
select {
  font-family: var(--font-body);
  font-size: 1rem;
  padding: 0.5em;
  border: 1px solid;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

/* Images */
/* img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
} */